player-connection-mode=Listen
player-connection-guid=637320443
player-connection-debug=0
player-connection-project-name=Dodge West
player-connection-ip=136.186.131.99
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5f392a07010046879425cdd82d8c9521
