player-connection-mode=Listen
player-connection-guid=2966768953
player-connection-debug=0
player-connection-project-name=Dodge West
player-connection-ip=192.168.1.107
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1c3fd055d914488893814a5e099537aa
